.day-border-class {
  border-radius: 80%;
}

.weekday-present-class {
  background: lawngreen;
}

.weekday-absent-class {
  background: indianred;
}

.holiday-class {
  background: yellow;
}

.unkown-class {
  background: grey;
}
