.resultsStepper {
  min-width: 40%;
  margin: auto;
  padding: 40px;
  border-radius: 40px 40px 40px 40px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.resultsTable {
  min-width: 40%;
  margin: auto;
  padding: 20px;
  border-radius: 40px 40px 40px 40px;
}

.resultsTable th.mat-header-cell{
  font-weight: bold;
  font-weight: bold;
}
.resultsTable tr.mat-footer-row{
  font-weight: bold;
  font-weight: bold;
}
