.day-border-class {
  border-radius: 80%;
}

.weekend-class {
  background: orange;
}

.weekday-present-class {
  background: darkgreen;
}

.weekday-absent-class {
  background: tomato;
}

.weekday-holiday-class {
  background: mediumblue;
}

.datepicker-width {
  background-color: black;
}
